
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainwebsite canvas {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background-image: url(aesthetic2.png);  
  background-size: cover;
  background-repeat: no-repeat;  /* Ensures the background scrolls with the page */
  background-position: center top; /* Aligns the image at the top center */ 
  margin: 0; 
 
 /* Match the height of the scrollable content */
  overflow-x: hidden;
  z-index: -1;
  
}
.container {
  color: rgb(0, 0, 0);
  font-family:  sans-serif;
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-weight: normal;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 4.5rem;
}
.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 80px;
  top: 40px;
}
.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 1;
}
.giftbox > div {
  background: #F64747;
  position: absolute;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
}
.giftbox > div:after, .giftbox > div:before {
  position: absolute;
  content: "";
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #ffffff;
  width: 100%;
  content: "Open";
  left: 0;
  bottom: 5vh;
  font-size: 24px;
  text-align: center;
  /* transform: rotate(-10deg); */
  transform-origin: 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 3;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #2C3E50;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before, .giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 0 15px #2C3E50;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #2C3E50;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0);
}
.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 5s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}
.step-2 .giftbox:after {
  opacity: 0;
}
.step-3 .giftbox, .step-4 .giftbox {
  opacity: 0;
  z-index: 3;
}
.step-3 .giftbox:after, .step-4 .giftbox:after {
  opacity: 0;
}
.step-2 .giftbox .cover {
  animation: flyUp 2s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 2s ease-in 0.05s forwards;
}
@keyframes wobble {
  25% {
      transform: rotate(4deg);
 }
  75% {
      transform: rotate(-2deg);
 }
}
@keyframes flyUp {
  75% {
      opacity: 1;
 }
  100% {
      transform: translateY(-1000px) rotate(20deg);
      opacity: 0;
 }
}
@keyframes flyDown {
  75% {
      opacity: 1;
 }
  100% {
      transform: translateY(100%);
      opacity: 0;
 }
}
button {
  background-color: #ffffff;
  color: rgb(172, 172, 172);
  padding: 10px 10px;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 2px 2px 2px grey;
  
}

button.hidden {
  display: none;
}

button:hover {
  background-color: #ffc89b;
  color: rgb(143, 143, 143);
  box-shadow: 0.5px 1px 1px 1px grey;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  
  top: 0;
  left: 0;
  /* right: 0; */
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  z-index: 10;
}
#open-modal {
  z-index: 9999;
  position: relative;
  margin: auto;
  /* display: none;
  align-items: center;
  justify-content: center; */
}

/* Modal Content */
.modal-content {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  /* right: 10px; */
  /* transform: translate(-50%, -50%); */
  background: rgb(255, 255, 255);
  padding: 1px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 2px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

.close:hover {
  color: #333;
}
.birthday-card {
  display: none; 
}

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body {
  background-color:  #ffa9d8;
} */
.card {
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  /* left: 50px; */
  right:25px;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
  
  
}
.card:hover {
  transform: rotate(-10deg);
}
.card:hover .outside {
  transform: rotateY(-130deg);
}
.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;

}
.inside {
  background: linear-gradient(to right, #f789ff, #b187ff 30%);
  line-height: 3;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;
  transform-origin: left;
  transition: 2s;
  cursor: pointer; 
}
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background-color: #ee85ab;
}
.back {
  transform: rotateY(180deg);
  /* background: linear-gradient(to left, #ec92ea, #e7a6e3 30%); */
  background-image: url(flowerdown.webp);
  background-size: cover;
}
.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}
.top-layer,
.middle-layer,
.bottom-layer {
  height: 80px;
  width: 240px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #fedbab 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}
.middle-layer {
  transform: scale(0.85);
  top: 6px;
}
.top-layer {
  transform: scale(0.7);
  top: 26px;
}
.candle {
  height: 45px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 202px;
}
.candle:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 48px;
  /* transform: rotate(45deg); */
  left: -1px;
}
.outside p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 1px;
  text-align: center;
  letter-spacing: 6px;
  /* color: #000046; */
}
.inside h1 {
  font-size: 120px;
  line-height: 120px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

html,
body {
  width: 100%;
  height: 100%;
}

/* body {
  background: #ffd374;
} */

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
  bottom: 90px;
}

/* ============================================== Candle
*/

.velas {
  background: #ff4242;
  border-radius: 10px;
  position: absolute;
  top: 270px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height:35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 3s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}
.open{
  height: 30px;
  width: 50px;
  background-color: rgba(255, 0, 0, 0.489);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(270px,300px);
  border-radius: 3px;
}
.inside p:nth-child(1){
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-family: "Dancing Script", serif;
  position: absolute;
  top: 0;
  text-shadow: 
        0 0 5px #fff648,   /* First layer of glow */
        0 0 10px #fffa70,  /* Second layer of glow */
        0 0 20px #fbff7dd4,  /* Third layer of glow */
        0 0 40px #ffe7ae,  /* Stronger glow */
        0 0 80px #feee92,  /* Larger glow radius */
        0 0 120px #ffe760; /* Maximum glow */
}

.garland{
  width: 49px;
}
.glow{
  color: #fedbab;
  text-shadow: 
        0 0 5px #fff534,   /* First layer of glow */
        0 0 10px #FFD700,  /* Second layer of glow */
        0 0 20px #ffdc14d4,  /* Third layer of glow */
        0 0 40px #ffb300,  /* Stronger glow */
        0 0 80px #feee92,  /* Larger glow radius */
        0 0 120px #ffe760; /* Maximum glow */
}
.inside::before{
  content: "";
  background: url(image2.png);
  position: absolute;
  background-size: cover;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  z-index: 0.99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center top;
}
.inside p:nth-child(2){
  color: white ;
  font-size: 10px;
  position: absolute;
  top: 55px;
  left: 15px;
  right: 15px;
  text-align: left;
  line-height: 25px;
}
#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent blocking user interactions */
  z-index: 9999; /* Highest stacking order */
}

